<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Carrie Markel</title>
  <meta name="description" content="Carrie Markel is a talented designer skilled in user experience and interface, and project management.">
  <link rel="stylesheet" href="../assets/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto&display=swap" rel="stylesheet">

</head>

<body>
  <!-- HEADER -->
  <div class="row">
    <div class="fixed_width">
      <div class="flex_display">
        <a href="/"><img src="https://via.placeholder.com/150"></a>
        <nav class="app_nav" id="nav">
          <a href="/projects/design">Design</a>
          <a href="/projects/branding">Branding</a>
          <a href="/about">About</a>
          <a href="#" class="hamburger" onclick="hamburger()"><i class="fa fa-bars"></i></a>
        </nav>
      </div>
    </div>
  </div>

  <!-- ABOUT -->
  <div class="row" id="intro">
    <div class="fixed_width">
      <h2><span style="font-size:.5em">I'm</span> <span>Carrie</span></h2>
      <p>Designer, Manager, Creator, Writer</p>
    </div>
  </div>

  <!-- FOOTER -->
  <footer>
    <div class="row font_center">
      <div class="fixed_width">
        <h4>Carrie Markel</h4>
        <p>&copy; 2020</p>
      </div>
    </div>
  </footer>
</body>
</html>
