<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Carrie Markel</title>
  <meta name="description" content="Carrie Markel is a talented designer skilled in user experience and interface, and project management.">
  <link rel="stylesheet" href="../../../assets/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto&display=swap" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

</head>

<body>
  <!-- HEADER -->
  <div id="js_show_nav" style="display:none;">
    <div class="row">
      <div class="fixed_width">
        <p id="js_close_menu" class="js_click_close font_right" style="padding-right:6em;">&times;</p>
        <p><a href="../../projects/design/sample">Design</a></p>
        <p><a href="../../projects/design/sample">Branding</a></p>
        <p><a href="../../home/index.html#about">About</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="fixed_width">
      <div class="flex_display flex_justify_between flex_align_center flex_wrap">
        <a href="../../home/index.html"><img src="https://via.placeholder.com/100"></a>
        <div id="js_menu_expander">
          <span>&#9776;</span>
        </div>
      </div>
    </div>
  </div>

<!-- PROJECT -->
  <div class="flex_display flex_justify_between">
    <!-- Photo Grid -->
    <div class="flex_display flex_wrap" id="project_portfolio">
      <div class="project_photo_column">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" class="project_photos">
        <img src="https://www.w3schools.com/w3images/rocks.jpg" class="project_photos">
        <img src="https://www.w3schools.com/w3images/falls2.jpg" class="project_photos">
      </div>
      <div class="project_photo_column">
        <img src="https://www.w3schools.com/w3images/underwater.jpg" class="project_photos">
        <img src="https://www.w3schools.com/w3images/ocean.jpg" class="project_photos">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" class="project_photos">
        <img src="https://www.w3schools.com/w3images/mountainskies.jpg" class="project_photos">
      </div>
    </div>
    <!-- PROJECT DESCRIPTION -->
    <div id="description" class="fixed_width">
      <h1>This really super cool thing I did</h1>
      <p>Bathe me in praise.</p>
    </div>
  </div>
  <!-- FOOTER -->
  <footer>
    <div class="row font_center">
      <div class="fixed_width">
        <h4>Carrie Markel</h4>
        <p>&copy; 2020</p>
      </div>
    </div>
  </footer>
</body>
<script src="../../../assets/javascript/script.js"></script>
</html>
